@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
body {
  background: hsl(217, 28%, 15%);
  background-image: url('./images/bg-curvy-desktop.svg');
  background-repeat: no-repeat;
  background-position: 0 75%;
  color: #fff;
  margin: 4rem;
}
a {
  color: #fff;
  text-decoration: none;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu a {
  margin-left: 3rem;
}
.header-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.description-header {
  width: 480px;
}
.description-header h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
}
.description-header p {
  margin: 2rem 0 1rem;
}
.description-header button {
  background: linear-gradient(14deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  width: 180px;
  height: 40px;
  color: #fff;
  border: none;
  border-radius: 25px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.content > div {
  width: 40vw;
  text-align: center;
  margin: 2rem 0;
}
.content img {
  height: 64px;
}
p {
  opacity: 0.8;
}
h2 {
  font-size: 18px;
}

@media screen and (min-width: 1440px) {
  .content > div {
    padding: 0 8rem;
  }
}
