@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
body {
  background: hsl(217, 28%, 15%);
  background-image: url('./images/bg-curvy-desktop.svg');
  background-repeat: no-repeat;
  background-position: 0 22%;
  color: #fff;
  /* margin: 4rem; */
}
.logo {
  width: 140px;
}
h1 {
  font-size: 32px;
  font-family: 'Raleway', sans-serif;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
}
.menu a {
  margin-left: 3rem;
  color: #fff;
  text-decoration: none;
}
header {
  padding-bottom: 4.5rem;
}
.header-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.description-header {
  width: 480px;
}
.description-header p {
  margin: 2rem 0 1rem;
}
.description-header button {
  background: linear-gradient(14deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  width: 180px;
  height: 40px;
  color: #fff;
  border: none;
  border-radius: 25px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: hsl(218, 28%, 13%);
}
.content > div {
  width: 40vw;
  text-align: center;
  margin: 2rem 0;
  padding: 0 8rem;
}
.content img {
  height: 64px;
}
p {
  opacity: 0.8;
}
h2 {
  font-size: 18px;
}
footer {
  background: hsl(216, 53%, 9%);
  height: 400px;
  padding: 8rem 7rem;
}
section img {
  height: 20px;
  margin-right: 2rem;
}
section {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.location {
  width: 350px;
  display: flex;
}
.contact div {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
}
.social > svg {
  width: 33px;
  height: 33px;
  padding: 7px;
  border-radius: 50px;
  border: 1px solid #fff;
  margin-left: 6px;
}
.aboutus > p,
.contactus > p {
  margin-bottom: 1rem;
}
.card-footer {
  background: hsl(219, 30%, 18%);
}
.productive {
  background: hsl(218, 28%, 13%);
  display: flex;
  justify-content: center;
  padding: 8rem 7rem;
  align-items: center;
}
.productive h1 {
  width: 300px;
  margin-bottom: 1.5rem;
}
.productive p {
  margin-bottom: 1rem;
}
.productive a {
  color: hsl(176, 68%, 64%);
  text-decoration: none;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid hsl(176, 68%, 64%);
}
.productive a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.review {
  background: hsl(218, 28%, 13%);
  background-image: url('./images/bg-quotes.png');
  background-repeat: no-repeat;
  background-position: 7.2% 19%;
  display: flex;
  padding: 8rem 7rem;
}
.review > div {
  background: hsl(219, 30%, 18%);
  margin: 0 1rem;
  padding: 3rem 2rem;
}
.profile {
  display: flex;
  margin-top: 2rem;
}
.profile > img {
  width: 28px;
  height: 28px;
  border-radius: 50px;
  margin-right: 1rem;
}
.profile > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile > div > h3 {
  font-size: 12px;
}
.profile > div > p {
  font-size: 10px;
}
